IOT Example MH.txt
[{"id":"145746a8.b903c1","type":"tab","label":"IoT Example","disabled":false,"info":""},{"id":"c6ff6df6.12a79","type":"ibmiot in","z":"145746a8.b903c1","authentication":"apiKey","apiKey":"ce4e3925.fe5018","inputType":"evt","deviceId":"Sensor01","applicationId":"","deviceType":"+None","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":78.33331298828125,"y":252.66664123535156,"wires":[["97c220ca.cf2ba8"]]},{"id":"9bee363d.b93a78","type":"debug","z":"145746a8.b903c1","name":"","active":false,"console":"false","complete":"true","x":500.5,"y":203.44442749023438,"wires":[]},{"id":"97c220ca.cf2ba8","type":"delay","z":"145746a8.b903c1","name":"1_Message_alle_70_Sekunden","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"69","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":289.11109924316406,"y":252.6666717529297,"wires":[["9bee363d.b93a78","e5c44578.7142","2b253c8b.825354"]]},{"id":"cee533ff.693d9","type":"watson-text-to-speech","z":"145746a8.b903c1","name":"","lang":"de-DE","langhidden":"de-DE","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"de-DE_BirgitVoice","voicehidden":"de-DE_BirgitVoice","format":"audio/mp3","password":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":787.4444580078125,"y":904.8889007568359,"wires":[["db2e09fd.a8add","c307b4a4.fd1418"]]},{"id":"f39e349.f5328c8","type":"function","z":"145746a8.b903c1","name":"VoiceReportTemp","func":"str = \"Alarm Sensor 1. Die Umgebungstemperatur ist zu hoch. Zulässiges Maximum 33 Grad! \";\nstr = str + \"Gemessene Temperatur \";\nstr = str + msg.temperature;\n\n/* str = str + \"degree celcious. Humidity is \";\nstr = str + msg.payload.d.humidity;\nstr = str + \"Percent air humidity. Object temperature is \";\nstr = str + msg.payload.d.objectTemp;\nstr = str + \"degree celcius. Next update in 30 seconds. Thank you.\";\n*/\n\nstr = str + \" Grad. Sofort Umgebungstemperatur reduzieren!\";\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":603.4444580078125,"y":775.8889007568359,"wires":[["cee533ff.693d9"]]},{"id":"bc687d1c.492048","type":"split","z":"145746a8.b903c1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":740,"y":250.44442749023438,"wires":[["7bb03b8f.bc016c","20ca9f00.c9089a"]]},{"id":"59022ee5.5eb2c8","type":"switch","z":"145746a8.b903c1","name":"TemperatureAlarm33","property":"temperature","propertyType":"msg","rules":[{"t":"gt","v":"33","vt":"num"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":477.4444580078125,"y":438.1111297607422,"wires":[["800ce8a5.cbccd","ea05005a.6283a8"],["e2b5cbe7.8b4048"]]},{"id":"b07d6b0c.484a68","type":"debug","z":"145746a8.b903c1","name":"","active":false,"console":"false","complete":"true","x":310,"y":391.88885498046875,"wires":[]},{"id":"20ca9f00.c9089a","type":"change","z":"145746a8.b903c1","name":"Extract_Values","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload.temperature","tot":"msg"},{"t":"set","p":"humidity","pt":"msg","to":"payload.humidity","tot":"msg"},{"t":"set","p":"objectTemp","pt":"msg","to":"payload.objectTemp","tot":"msg"},{"t":"set","p":"delay","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":135,"y":437.88885498046875,"wires":[["b07d6b0c.484a68","79d227cd.53b8","59022ee5.5eb2c8"]]},{"id":"800ce8a5.cbccd","type":"debug","z":"145746a8.b903c1","name":"ToHot","active":false,"console":"false","complete":"temperature","x":636.4444580078125,"y":375.88890075683594,"wires":[]},{"id":"e2b5cbe7.8b4048","type":"switch","z":"145746a8.b903c1","name":"HumidityAlarm75","property":"humidity","propertyType":"msg","rules":[{"t":"gt","v":"75","vt":"num"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":776.4444580078125,"y":443.88890075683594,"wires":[["5131a784.5e708","ebc1b264.8c42a8"],["2e5ebc9.2013cc4"]]},{"id":"2e5ebc9.2013cc4","type":"switch","z":"145746a8.b903c1","name":"ObjectTempAlarm50","property":"objectTemp","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1066.4444580078125,"y":449.88890075683594,"wires":[["f01f2401.83ced","f6461949.b6502"],[]]},{"id":"5131a784.5e708","type":"debug","z":"145746a8.b903c1","name":"ToHumid","active":false,"console":"false","complete":"humidity","x":849.4444580078125,"y":375.88890075683594,"wires":[]},{"id":"f01f2401.83ced","type":"debug","z":"145746a8.b903c1","name":"ObjectToHot","active":false,"console":"false","complete":"objectTemp","x":1144.8887939453125,"y":381.4444580078125,"wires":[]},{"id":"a5fbd699.10b89","type":"function","z":"145746a8.b903c1","name":"VoiceReportHumid","func":"str = \"Alarm Sensor 1. Zu hohe Luftfeuchtigkeit. Zulässiges Maximum 75 Prozent! \";\nstr = str + \"Gemessene Luftfeuchte  \";\nstr = str + msg.humidity;\n\n/* str = str + \"degree celcious. Humidity is \";\nstr = str + msg.payload.d.humidity;\nstr = str + \"Percent air humidity. Object temperature is \";\nstr = str + msg.payload.d.objectTemp;\nstr = str + \"degree celcius. Next update in 30 seconds. Thank you.\";\n*/\n\nstr = str + \" Prozent. Luftfeuchte dringend reduzieren!\";\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":854.4444580078125,"y":776.8889007568359,"wires":[["cee533ff.693d9"]]},{"id":"7d3994ff.97f6cc","type":"function","z":"145746a8.b903c1","name":"VoiceReportObjectTemp","func":"str = \"Alarm Sensor 1. Das Objekt ist zu heiss. Zulässiges Maximum 50 Grad Celsius! \";\nstr = str + \"Gemessene Temperatur am Objekt ist \";\nstr = str + msg.objectTemp;\n\n/* str = str + \"degree celcious. Humidity is \";\nstr = str + msg.payload.d.humidity;\nstr = str + \"Percent air humidity. Object temperature is \";\nstr = str + msg.payload.d.objectTemp;\nstr = str + \"degree celcius. Next update in 30 seconds. Thank you.\";\n*/\n\nstr = str + \" Grad. Kühlung erhöhen!\";\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":1135.4444580078125,"y":788.8889007568359,"wires":[["cee533ff.693d9"]]},{"id":"d60e422a.5cdb8","type":"delay","z":"145746a8.b903c1","name":"","pauseType":"delayv","timeout":"22","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":848.4444580078125,"y":587.8889007568359,"wires":[["c8e7a770.8c85f8"]]},{"id":"e573ee04.caff48","type":"delay","z":"145746a8.b903c1","name":"","pauseType":"delayv","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1096.4444580078125,"y":597.8889007568359,"wires":[["4face19a.96a37"]]},{"id":"79d227cd.53b8","type":"change","z":"145746a8.b903c1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":535.8888549804688,"wires":[["7aef92e5.9d7674","76e8fce7.7377e4"]]},{"id":"6bed1917.42856","type":"change","z":"145746a8.b903c1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":158,"y":617.8888549804688,"wires":[["3b8cca78.bf5896","920aad53.bd5d4"]]},{"id":"76e8fce7.7377e4","type":"delay","z":"145746a8.b903c1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":167,"y":581.8888549804688,"wires":[["6bed1917.42856"]]},{"id":"b8c73348.d099e8","type":"change","z":"145746a8.b903c1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"objectTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":123,"y":702.8888549804688,"wires":[["54acee22.b1ab38"]]},{"id":"920aad53.bd5d4","type":"delay","z":"145746a8.b903c1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":141,"y":663.8888549804688,"wires":[["b8c73348.d099e8"]]},{"id":"a9c5b58b.d4dd48","type":"http request","z":"145746a8.b903c1","name":"Alarm","method":"GET","ret":"bin","url":"https://cdbf2850-952e-4c0a-b73b-af95137a29bf-bluemix:ac9056930dbeab012764d327173030adce06724840de367a1cecbdc56ccdfe91@cdbf2850-952e-4c0a-b73b-af95137a29bf-bluemix.cloudant.com/sounds/Sound1/Sirene1_16bit.wav","tls":"","x":592.4444580078125,"y":649.8889007568359,"wires":[["db2e09fd.a8add","cef19f10.997108"]]},{"id":"c8e7a770.8c85f8","type":"http request","z":"145746a8.b903c1","name":"Alarm","method":"GET","ret":"bin","url":"https://cdbf2850-952e-4c0a-b73b-af95137a29bf-bluemix:ac9056930dbeab012764d327173030adce06724840de367a1cecbdc56ccdfe91@cdbf2850-952e-4c0a-b73b-af95137a29bf-bluemix.cloudant.com/sounds/Sound1/Sirene2_16bit.wav","tls":"","x":832.4444580078125,"y":647.8889007568359,"wires":[["db2e09fd.a8add","5911a28d.f80d9c"]]},{"id":"4face19a.96a37","type":"http request","z":"145746a8.b903c1","name":"Alarm","method":"GET","ret":"bin","url":"https://cdbf2850-952e-4c0a-b73b-af95137a29bf-bluemix:ac9056930dbeab012764d327173030adce06724840de367a1cecbdc56ccdfe91@cdbf2850-952e-4c0a-b73b-af95137a29bf-bluemix.cloudant.com/sounds/Sound1/Sirene3_16bit.wav","tls":"","x":1084.4444580078125,"y":656.8889007568359,"wires":[["db2e09fd.a8add","fc0d3a88.a5305"]]},{"id":"cef19f10.997108","type":"delay","z":"145746a8.b903c1","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":577.4444580078125,"y":717.8889007568359,"wires":[["f39e349.f5328c8"]]},{"id":"5911a28d.f80d9c","type":"delay","z":"145746a8.b903c1","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":838.4444580078125,"y":714.8889007568359,"wires":[["a5fbd699.10b89"]]},{"id":"fc0d3a88.a5305","type":"delay","z":"145746a8.b903c1","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1081.4444580078125,"y":725.8889007568359,"wires":[["7d3994ff.97f6cc"]]},{"id":"ebc1b264.8c42a8","type":"function","z":"145746a8.b903c1","name":"SetTimer","func":"var alarme = flow.get('alarme');\nalarme.al2 = 1;\nflow.set ('alarme', alarme);\n\nif (alarme.al1 === 1)\n    msg.delay = 17000;\nelse msg.delay = 0;\n    \nmsg.alarm = flow.get('alarme');\nreturn msg;","outputs":1,"noerr":0,"x":878.4444580078125,"y":495.88890075683594,"wires":[["dbe7add6.8f0408","d60e422a.5cdb8"]]},{"id":"f6461949.b6502","type":"function","z":"145746a8.b903c1","name":"SetTimer","func":"var alarme = flow.get('alarme');\nalarme.al3 = 1;\nflow.set ('alarme', alarme);\n\nif ((alarme.al1) === 1 && (alarme.al2 === 1))\n    msg.delay = 36000;\nelse if ((alarme.al1 === 0) && (alarme.al2 === 1))\n    msg.delay = 17000;\nelse if ((alarme.al1 === 1) && (alarme.al2 === 0))\n    msg.delay = 19000;\nelse if ((alarme.al1 === 0) && (alarme.al2 === 0))\n    msg.delay = 0;\n    \nmsg.alarm = flow.get('alarme');\nreturn msg;\n","outputs":1,"noerr":0,"x":1214.4444580078125,"y":491.88890075683594,"wires":[["e573ee04.caff48","40cac1f0.a6e22"]]},{"id":"e5c44578.7142","type":"function","z":"145746a8.b903c1","name":"InitialzeAlarm","func":"var alarme = {al1:0,al2:0,al3:0};\nflow.set ('alarme', alarme);\n\n// msg.alarm = flow.get('alarme');\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":249.44442749023438,"wires":[["db65cc43.cf0368","bc687d1c.492048"]]},{"id":"db65cc43.cf0368","type":"debug","z":"145746a8.b903c1","name":"","active":false,"console":"false","complete":"true","x":721,"y":205.44442749023438,"wires":[]},{"id":"7bb03b8f.bc016c","type":"debug","z":"145746a8.b903c1","name":"","active":false,"console":"false","complete":"true","x":940.0000610351562,"y":219.66661071777344,"wires":[]},{"id":"ea05005a.6283a8","type":"function","z":"145746a8.b903c1","name":"SetAlarm1","func":"var alarme = flow.get('alarme');\nalarme.al1 = 1;\nflow.set ('alarme', alarme);\n\nmsg.alarm = flow.get('alarme');\nreturn msg;","outputs":1,"noerr":0,"x":572.4444580078125,"y":494.88890075683594,"wires":[["ff8fdbc9.c9726","a9c5b58b.d4dd48"]]},{"id":"ff8fdbc9.c9726","type":"debug","z":"145746a8.b903c1","name":"","active":false,"console":"false","complete":"true","x":712.4444580078125,"y":545.8889007568359,"wires":[]},{"id":"c307b4a4.fd1418","type":"debug","z":"145746a8.b903c1","name":"","active":false,"console":"false","complete":"true","x":1082.4444580078125,"y":1009.8889007568359,"wires":[]},{"id":"dbe7add6.8f0408","type":"debug","z":"145746a8.b903c1","name":"","active":false,"console":"false","complete":"true","x":1036.4444580078125,"y":534.8889007568359,"wires":[]},{"id":"40cac1f0.a6e22","type":"debug","z":"145746a8.b903c1","name":"","active":false,"console":"false","complete":"true","x":1377.4444580078125,"y":481.88890075683594,"wires":[]},{"id":"2fd91d09.8b8c62","type":"inject","z":"145746a8.b903c1","name":"Countdown","topic":"countdown","payload":"","payloadType":"num","repeat":"1","crontab":"","once":true,"x":120.96293640136719,"y":110.51852416992188,"wires":[["4618d5ab.d18f14"]]},{"id":"4618d5ab.d18f14","type":"function","z":"145746a8.b903c1","name":"SetTimeCounter","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||71;\nif (count > 0) \n    count -= 1;\nelse count = 71;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\n\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"x":332.07403564453125,"y":110.44444274902344,"wires":[["a7e4c2c2.e95798"]]},{"id":"2b253c8b.825354","type":"function","z":"145746a8.b903c1","name":"SynchTime","func":"var count = 71;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nreturn msg;","outputs":1,"noerr":0,"x":344.29632568359375,"y":174.51853942871094,"wires":[["4618d5ab.d18f14"]]},{"id":"54292329.d259ec","type":"inject","z":"145746a8.b903c1","name":"","topic":"","payload":"***************************************************************","payloadType":"str","repeat":"","crontab":"","once":true,"x":75.40740966796875,"y":40.51851060655382,"wires":[["58778fba.c0d688"]]},{"id":"58778fba.c0d688","type":"ui_text","z":"145746a8.b903c1","group":"ee2cae71.307008","order":1,"width":0,"height":0,"name":"","label":"Wir messen die Daten für Sensor 1 alle 70 Sekunden","format":"{{payload}}","layout":"col-center","x":461.4444580078125,"y":40.99999237060547,"wires":[]},{"id":"a7e4c2c2.e95798","type":"ui_text","z":"145746a8.b903c1","group":"ee2cae71.307008","order":6,"width":0,"height":0,"name":"Zaehler","label":"Zeit bis zur nächsten Messung:","format":"{{msg.count}}","layout":"row-center","x":538.74072265625,"y":110.16665649414062,"wires":[]},{"id":"db2e09fd.a8add","type":"ui_audio","z":"145746a8.b903c1","name":"","group":"ee2cae71.307008","voice":"3","always":true,"x":1089.4444580078125,"y":901.8889007568359,"wires":[]},{"id":"7aef92e5.9d7674","type":"ui_gauge","z":"145746a8.b903c1","name":"Temperatur","group":"ee2cae71.307008","order":3,"width":"6","height":"6","gtype":"gage","title":"Umgebungstemperatur","label":"Grad Celsius","format":"{{value}}°C","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"33","x":394,"y":535.8888549804688,"wires":[]},{"id":"3b8cca78.bf5896","type":"ui_gauge","z":"145746a8.b903c1","name":"Luftfeuchtigkeit","group":"ee2cae71.307008","order":4,"width":"6","height":"6","gtype":"gage","title":"Luftfeuchtigkeit","label":"Prozent","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"76","x":370,"y":612.8888549804688,"wires":[]},{"id":"54acee22.b1ab38","type":"ui_gauge","z":"145746a8.b903c1","name":"Objekttemperatur","group":"ee2cae71.307008","order":5,"width":"6","height":"6","gtype":"gage","title":"ObjektTemperatur","label":"Grad Celsius","format":"{{value}} °C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"51","x":386,"y":702.8888549804688,"wires":[]},{"id":"ce4e3925.fe5018","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ee2cae71.307008","type":"ui_group","z":"","name":"Default","tab":"d5fcacf8.f235c","disp":false,"width":"20"},{"id":"d5fcacf8.f235c","type":"ui_tab","z":0,"name":"MyTab","icon":"dashboard"}]